.vouchers {
  margin-bottom: 220px;
}
.vouchers-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.vouchers-content {
  max-width: 525px;
}
.vouchers-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0.06em;
  margin-bottom: 41px;
}
.vouchers-desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.04em;
  color: #7c7c7c;
  margin-bottom: 65px;
}
.vouchers-block {
  display: flex;
  gap: 20px;
}
img {
  cursor: pointer;
}
